.button-row {
  display: table-cell;
  margin: 8px 2px 40px 0;
}

.button-single {
  display: table-cell;
  margin: 8px 2px 40px 0;
  border: 1px solid black;
}

.post {
  border: 1px outset black;
  background-color: lightblue;
  text-align: center;
  padding: 8px;
}
.showComment {
  padding: 10px;
}

.postSingle {
  margin: 8px 2px 40px 0;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-raised-button:hover {
  background-color: yellow;
}

.button-load {
  display: table-cell;
  margin: 30px 2px 40px 700px;
  border: 1px solid black;
  color: white;
}
